html {
	background-color: maroon;
	zoom: 75%;
}

button {
	margin: 5px;
}

p {
	color: white;
}

h2 {
	color: white;
	margin-left: 60px;
}

.avatar {
	width: 300px;
	height: 400px;
	position: absolute;
	left: 300px;
	top:  10px;
	border: solid 3px  black;
}