html {
	background-color: maroon;
	zoom: 100%;
		margin-left: 160px;
	    margin-right: 160px;
		margin-top: 100px;
}

button {
	margin: 5px;
}

p {
	color: white;
}

h2 {
	color: white;
	margin-left: 60px;
}

.avatar {
	width: 300px;
	height: 400px;
	position: absolute;
	left: 500px;
	top:  100px;
	border: solid 3px  black;
	margin: 10px;
}